/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
    --ion-color-pink: #FF1493;
    --ion-color-pink-rgb: 255,20,147;
    --ion-color-pink-contrast: #ffffff;
    --ion-color-pink-contrast-rgb: 255,255,255;
    --ion-color-pink-shade: #DB7093;
    --ion-color-pink-tint: #bd2478;
  }

  .ion-color-pink {
    --ion-color-base: var(--ion-color-pink);
    --ion-color-base-rgb: var(--ion-color-pink-rgb);
    --ion-color-contrast: var(--ion-color-pink-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
    --ion-color-shade: var(--ion-color-pink-shade);
    --ion-color-tint: var(--ion-color-pink-tint);
  }
.logo{
    font-size: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
.form-field{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    ion-label{
        margin: auto;
    }
    ion-icon{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 25px;
    }
}
.title{
    h1, h6{
        color: white;
    }
}
.signup-button{
    width: 100%;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
}
.already-account{
    color: white;
    display: inline-block;
    margin-top: 20px;
}