ion-content{
    --ion-background-color:#10dc60;
}

.google-login-button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    ion-icon{
        margin-right: 5px;
    }
}